
.list-item {
  height: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  //border-bottom: 3px solid #0CF7DA;
  cursor: pointer;


  .title {
    // margin:  7.5px;
    font-weight: bold;
    padding-left: 15px;


  }

  .name {
    display: flex;
    margin: 7.5px;
    font-weight: bold;
    padding-left: 960px;
    align-items: flex-end;
    justify-content: flex-end;
    color: gray
  }
}

.item-expand {

  width: 100%;
  height: 600px;
  display: flex;
  //margin-bottom: 5px solid blue;
  .diagram-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #0CF7DA;
  }

  .piechart-container {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #0CF7DA;
  }

}
 